.info{
    background-color: rgba(255, 0, 0, 0);
    z-index: 6;
    position: relative;
    width: 10%;
    height:10% ;
    top:32%;
    right: 5%;
    text-align: center;
    color: rgb(34, 197, 34);
}
.info p,.info h3{
    width: 100px;
    text-align: center;
}

.sumar{
    z-index: 6;
    position: relative;
    width: 5%;
    height: 5%;
    top: 20%;
    left: 40%;
    background-color: rgba(127, 255, 212, 0);
    border-top:0px solid black ;
    border-bottom:5px solid black ;
    border-left:0px solid black ;

}
.restar{
    z-index: 6;
    position: relative;
    width: 6%;
    height: 5%;
    top: 15%;
    left: 27%;
    transform: rotate(180deg);
    background-color: rgba(127, 255, 212, 0);
    border-top:5px solid black ;
    border-bottom:0px solid black ;
    border-left:0px solid black ;
   
    
}

.sumar,.restar:hover{
cursor: pointer;
}