.info{
    background-color: rgba(255, 0, 0, 0);
    z-index: 6;
    position: relative;
    width: 10%;
    height:10% ;
    top:32%;
    right: 5%;
    text-align: center;
    color: rgb(34, 197, 34);
}
.info p,.info h3{
    width: 100px;
    text-align: center;
}

.sumar{
    z-index: 6;
    position: relative;
    width: 5%;
    height: 5%;
    top: 20%;
    left: 40%;
    background-color: rgba(127, 255, 212, 0);
    border-top:0px solid black ;
    border-bottom:5px solid black ;
    border-left:0px solid black ;

}
.restar{
    z-index: 6;
    position: relative;
    width: 6%;
    height: 5%;
    top: 15%;
    left: 27%;
    transform: rotate(180deg);
    background-color: rgba(127, 255, 212, 0);
    border-top:5px solid black ;
    border-bottom:0px solid black ;
    border-left:0px solid black ;
   
    
}

.sumar,.restar:hover{
cursor: pointer;
}
.sumar::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 6px; /* Ajusta este valor para controlar la posición del triángulo */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px; /* Ajusta estos valores para cambiar el tamaño del triángulo */
    border-color: transparent transparent transparent yellow; /* Cambia 'yellow' por tu color deseado */
    transform: translateY(-50%);
  }
.restar::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 7px; /* Ajusta este valor para controlar la posición del triángulo */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px; /* Ajusta estos valores para cambiar el tamaño del triángulo */
    border-color: transparent transparent transparent yellow; /* Cambia 'yellow' por tu color deseado */
    transform: translateY(-50%);
  }