figure {
    text-align: center;
    background-color: #462a42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 250px;
    margin: 0 auto;
  
  }
  
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  article {
    margin-top: 10px;
  }
  
  h3 {
    margin: 5px 0;
    color: rgb(196, 188, 188);
  }
  
  @media (max-width: 600px) {
    figure {
      width: 100%; 
    }
  }
  