

.mapa {
    background-image: url('https://res.cloudinary.com/djfkchzyq/image/upload/v1700582156/modelo%20usuarios/lw9dmyrqb01cup1pldlg.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 500px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    max-height: 650px;
  }
  .circulo-ciudad {
    width: 100px;
    height: 100px;
    background-color: rgba(219, 63, 52, 0.158); /* Color del círculo */
    border-radius: 50%; /* Hace que el div sea un círculo */
    position: relative;
    top: 10%;
    left: 9%;
    transform: translate(-50%, -50%); /* Centra el círculo */
    animation: destellos 2s infinite alternate; /* Animación de destellos */
  }
  .circulo-ciudad:hover {
   cursor:zoom-in;
  }
  
  @keyframes destellos {
    to {
      box-shadow: 0 0 10px 5px rgba(219, 91, 52, 0.925); /* Efecto de destellos */
    }
  }