body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    gap: 15px;
    grid-template-areas:
    "grid-header grid-header"
    "grid-sidebar grid-nav"
    "grid-sidebar grid-article"
    "grid-footer grid-footer";
   
  
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
  }
  
  .header {
    background-color: #FFDE22;
    grid-area:grid-header
  
  }
  
  .sidebar {
    background-color: #FF7755;
    grid-area:grid-sidebar;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
  }
  
  .nav {
    background-color: #00DDFF;
    grid-area:grid-nav
  }
  
  .article {
    background-color: #bccbde;
    grid-area:grid-article
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .footer {
    background-color: #393f4d;
    
    grid-area:grid-footer
  }

  /* -

-
- La segunda columna es dos veces más grande que la primera.
- La tercera fila es cinco veces más grande que las demás.

- El elemento de la barra lateral solo se extiende a lo largo de la primera columna.
- Los elementos de navegación y artículo se extienden a lo largo de la segunda columna. */