*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div,p{
    width:150px ;
    height:40px ;
    margin:10px ;
    padding:10px ;
    display: inline-block;
}

span,a{
    width:150px ;
    height:40px ;
    margin:10px ;
    padding:10px ;
    display: inline-block;
}

div{
    background-color:#e74c3c ;
}
p{
    background-color:#9b59b6 ;
}
span{
    background-color:#3498db ;
}
a{
    background-color:#2ecc71 ;
}

/* 


- Sabiendo el comportamiento que tiene el span, aplicar la propiedad display correspondiente para su correcto visualizado.
- El div tiene un color #e74c3c.
- El párrafo tiene un color .
- El span tiene un color #3498db.
- El anchor tiene un color #2ecc71.
- Aplicar un reset para que todos los elementos pierdan sus propiedades originales de margin, padding y el box-sizing adecuado.
 De otra forma los dos últimos elementos aparecerán diferentes. */