body{
  display: flex;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url("https://res.cloudinary.com/djfkchzyq/image/upload/v1700585184/up8nxbrsdfzogzlubktm.jpg")
}